.main-row-prodEsp{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:space-between;
}

.main-col-prodEsp{
    width:50%;
    padding: 0 15px;
    text-align:center;
    border-radius: 25px;
    border-top: 5px;
}

h3 .tituloProdEsp{
    margin-top: 20px;
    font-size: 700px;
}

p .txt-ProdEsp{
    text-align: justify;
    margin-bottom: 200px;
    font-size: large;
    font-weight: bold;
}

a .linkCompra{
    cursor: pointer;
}

a .linkCompra:hover{
    padding-left: 5px;
    box-shadow: 0 0 5 5 black;
}

